<section id="about">
    <div class="container">
        <h2><strong>Magamról</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets\images\önéletrajz2.jpg" alt="photo de profil" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/dániel-garajszki/" rel="tooltip" target="_blank"  title="Suivez moi sur Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/Garajszki" rel="tooltip" target="_blank" title="Suivez moi sur GitHub" >
                        <i  class="fa fa-github fa-lg "></i></a>
                </div>
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Front-End Fejlesztő.</h3>
                <p class="font-italic">
                    Érdekelnek az új technológiák és munkamódszerek. Szeretek olyan ötletekkel előállni,
                    amelyek javítják az üzleti folyamatokat.
                    Szenvedélyes <b>Front-End</b> fejlesztések iránt.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Pest Megye</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Budapest</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong>
                                    <a href="mailto:garajszkidaniel@gmail.com">garajszkidaniel@gmail.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 27 Éves</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Webuni</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> Fejlesztés </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    Olyan innovatív és felhasználóközpontú céget keresek, amely a legjobban megfelel az ügyfelek igényeinek,
                     az ötletétől a projekt végső átadásáig, vagy részt veszek egy meglévő projekt fejlesztésében.
                </p>
                <div class="link-btn">
                    <a href="assets\images\Garajszki _önéletrajz.pdf" target="_blank" type="button" class="btn btn-primary mr-3">Önéletrajzom</a>
                    <a href="assets\images\Motivációs levél.pdf" target="_blank" type="button" class="btn btn-primary mr-3">Motivációs levelem</a>
                </div>
            </div>
        </div>
    </div>
</section>